
    .sans-serif { font-family: "Lato", sans-serif; }
    .serif { font-family: serif; }
    #header{
		/*
        background: linear-gradient(135deg, #34558b 25%, transparent 25%) -50px 0,  
        linear-gradient(225deg, #34558b 25%, transparent 25%) -50px 0, 
        linear-gradient(315deg, #34558b 25%, transparent 25%), 
        linear-gradient(45deg, #34558b 25%, #6297bc 25%); 
		
        background-size: 2em 2em;
        margin-top: 3.5em;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
		*/
		
        background-size: 2em 2em;
        margin-top: 6em;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
		height: 21.1vh; 
    }
	#content .border-span {
		background: #232e46;
		padding: 5px 10px;
		border-radius: 10px;
        color: #dffdf2;
	}
	#content  .border-span a {
        color: #dffdf2;
		padding: 0 5px;
	}
    h6 {
        text-align: center;
        padding: 0px;
        color: #FFF;
        margin: 0;
        line-height: 0px;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    h1 {
        text-align: center;
        font-size: 1.5em;
        padding: 0px;
        line-height: 1em;
        color: #FFF;
        margin-bottom: 0px;
    }

    div#content {
        background: #fbd89f;
        max-width: 800px;
        margin:  auto;
        margin-bottom: 9vh;
        padding:  20px;
        border: 6px solid #232e46;
		font-size: 1.1em;
    }

	h1 span {
		background: #232e46;
		padding: 5px 10px;
		border-radius: 30px;
		color: #dffdf2;
	}

    body {
        background-color: #34558b;
        font-family: "Lato", sans-serif;
        line-height: 1.5em;
    }
    nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: #232e46;
        width: 100%;
    }
    .center {text-align: center;}
    nav>a { 
        color: #dffdf2;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        width: 25%;
        text-align: center;
    }
    #header > img {
        margin: 10px auto -15px auto;
        display: block;
        border-radius: 50%;
        border: 6px solid #232e46;
    }
    #content a {
        color: #34558b;
        text-decoration: none;
        font-weight: bold;
    }
    li  {
        margin-bottom: 1em;
    }

    .site-split-column>div {
		width: 50%;
		padding: 20px;
    }
	.site-split-column {
	  display: flex;
	}
	.before-webdev ul, .after-webdev ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.before-webdev ul img, .after-webdev ul img{
		max-width: 100%;
	}
@media only screen and (orientation: portrait) {
    nav { bottom: 0; }
    div#header { 
        margin-top: 1em;
    }
	
	#header > img { height: 15vh;}
    .site-split-column>div {
        width: 100%;
    }
	.site-split-column {
	  flex-direction: column;
	}
}
@media only screen and (orientation: landscape) {
    nav { top: 0; }
    div#header { 
	}
	#header > img { height: 15vh;}
    .indent { padding-left: 20px; }
	.site-split-column {
	  flex-direction: row;
	}
}