
    .sans-serif { font-family: "Lato", sans-serif; }
    .serif { font-family: serif; }
    #header{
        background: linear-gradient(135deg, #34558b 25%, transparent 25%) -50px 0,  
        linear-gradient(225deg, #34558b 25%, transparent 25%) -50px 0, 
        linear-gradient(315deg, #34558b 25%, transparent 25%), 
        linear-gradient(45deg, #34558b 25%, #6297bc 25%); 
        background-size: 2em 2em;
        margin-top: 3.5em;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    h6 {
        text-align: center;
        padding: 0px;
        color: #FFF;
        margin: 0;
        line-height: 0px;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    h1 {
        text-align: center;
        font-size: 1.5em;
        padding: 0px;
        line-height: 1em;
        color: #FFF;
        margin-bottom: 0px;
    }

    div#content {
        background: #fbd89f;
        max-width: 800px;
        margin:  auto;
        margin-bottom: 9vh;
        padding:  20px;
        border: 6px solid #2c3d64;
    }

    body {
        background-color: #34558b;
        font-family: "Lato", sans-serif;
    }
    nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: #2c3d64;
        width: 100%;
    }
    .center {text-align: center;}
    nav>a { 
        color: #fbd89f;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        width: 25%;
        text-align: center;
    }
    #header > img {
        margin: 10px auto -48px auto;
        display: block;
        border-radius: 50%;
        border: 6px solid #2c3d64;
    }
    #content a {
        color: #34558b;
        text-decoration: none;
        font-weight: bold;
    }

@media only screen and (orientation: portrait) {
    nav { bottom: 0; }
    #header { 
        height: 31.5vh; 
        margin-top: 1em;
    }
}
@media only screen and (orientation: landscape) {
    nav { top: 0; }
    #header { height: 21.1vh; }
    .indent { padding-left: 20px; }
}