<html>
	<head>
		{% if title %}
			<title>{{ title }} - Sendak Mahr</title>
		{% else %}
			<title>Sendak Mahr</title>
		{% endif %}	
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">		
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">		
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style>
			#header{
				background: url({{ url_for('static', filename='images/squiggle.png') }});
				margin-top: 3.5em;
				background-repeat: round;    
				flex-direction: column;
				margin-bottom: 1em;
			}
		</style>

	</head>
	<body>
	    <nav class="sans-serif">
			<a href="{{ url_for('homepage') }}">About</a>
			<a href="{{ url_for('web_development') }}">Web Development</a>
			<a href="{{ url_for('development') }}">Misc Projects</a>
			<a href="{{ url_for('pixel_art') }}">Art</a>
		</nav>
		<div id="header">
			<img src="{{ url_for('static',filename='images/Selfie.png') }}">
			<h1 class="sans-serif"><span>Sendak V. Mahr</span></h1>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>