{% extends "layout.html" %}
{% block content %}
	<p class="center">
		<a href="{{ url_for('web_development') }}">Web Designer</a> | 
		<a href="{{ url_for('development') }}">Developer</a> | 
		<a href="{{ url_for('pixel_art') }}">Pixel Artist</a> 
		<div class="indent">
			<h2>ruthlessvapor.com</h2>
			<div class="site-split-column">
				<div>
					<p>*Before images have been modified to images that are compliant with advertising laws.</p>
					<p>This was a vaping website that used to also function as a shop, but was now being used as an informational site.</p>
					<ul>
					    <li>Added some code for optimization and larger browser support.</li>
					    <li>Changed the style of the site to match the company image and branding</li>
					    <li>Replaced product images with images that adhere to new state regulations. </li>
					    <li>Converted large, key images to webp or svg, depending on the image.</li>
					    <li>Implemented regional variants of the site, each with catalogs of products distributed in that region.</li>
					</ul>
				</div>
				<div class="site-split-column">
					<div class="before-webdev">
						<h4>Before</h4>
						<ul></ul>
					</div>
					<div class="after-webdev">
						<h4>After</h4>
						<ul></ul>
					</div>
				</div>
			</div>



			<div class="site-split-column">
				<div>
					<h2>ruthlesswholesale.com</h2>
					<p>I also reworked this company's wholesale site. </p>
					<ul>
					    <li>Removed unnecessary and outdated information from the front page.</li>
					    <li>Redid menus and made navigation easier.</li>
					    <li>Hid products that were no longer manufactured.</li>
					    <li>Reworked order forms to make it easier for users to place bulk orders.</li>
					    <li>Replaced older bottles with new, standardized images.</li>
					</ul>
				</div>
				<div>
				</div>
			</div>

			<div class="site-split-column">
				<div>
					<h2>ejuiceplug.com</h2>
					A low priority site I was asked to assist with occasionally.
					<ul>
					    <li>Assisted in choosing a theme that was faster.</li>
					    <li>Removed a lot of unnecessary plugins.</li>
					    <li>Implemented shipping restrictions as new state regulations arose.</li>
					</ul>
				</div>
				<div>
				</div>
			</div>

<!--
			<h2>bluehorse.co.uk</h2>
			A site for a client located in the UK.
			<ul>
			    <li>Assisted in managing a team to assemble over 1000 images, descriptions, skus, and other necessary information</li>
			    <li>Managed uploading of product information onto the site</li>
			    <li>Chose menus, images, and themes according to client </li>
			    <li>Implemented taxation rules</li>
			</ul>



			<h2>vapes-direct</h2>
			Sites set up for a distribution that operates in both UK and Germany. 
			<ul>
			    <li>Managed two different inventories between</li>
			    <li>Set up a Zoho integration</li>
			    <li>Inputted and wrote product descriptions, tags, and attributes</li>
			    <li>Set up plugins, contact forms, and antispam addons</li>
			    <li>Wrote custom php for further customization</li>
			</ul>

-->
		</div>
	</p>
{% endblock %}